<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <title>Gorilla Survey</title>
</head>
<body>

  <header>
  <h1>Welcome To Gorilla Survey</h1>

    <nav>
      <ul>
        <li>
          <a href="/survey/new"><button>New Survey</button></a>
        </li>
        <% if current_user.nil? %>

        <li><a href="/signin">Sign In</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <% else %>
        <li><a href="/session" >Logout</a></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <div class="flash"><%= flash[:notice] %></div>
  <%= yield %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/model/question.js"></script>
  <script src="/js/view/question.js"></script>
  <script src="/js/controller/question.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
