<form action="/survey/new" method="POST">
  <label>NAME</label><br>
    <input type="text" name="name" placeholder="Name of Survey..." value ="<%= @survey.name if @survey %>" required> <br>
  <label>DESCRIPTION</label><br>
    <input type="text" name="description" placeholder="Tell us a little about your survey..." value = "<%= @survey.description if @survey %>" required><br>
    <input type="submit" value="CREATE SURVEY">
</form>
